.spec_logo {
    
}
#box1 {
    width: 1293px;
    height: 144px;
<<<<<<< HEAD
    background-color: #AFD7FA;
=======
    background-color:#AFD7FA;
>>>>>>> 0ce6e421bfabd7bae21d90ac2dba9c3ac780ed33
}

#box2 {
    width: 1293px;
    height: 107px;
    background-color:bisque;

}

#box3 {
    width: 1293px;
    height: 107px;
    background-color:bisque;

}

#box4 {
    width: 1293px;
    height: 107px;
    background-color:bisque;

}

.smallerwhitebox {
    margin: auto;
    width: 306px;
    height: 50px;
    background-color: white;
}