
#box1 {
    width: 1293px;
    height: 144px;
    background-color: #AFD7FA;
}

#box2 {
    width: 1293px;
    height: 107px;
    background-color:bisque;

}

#box3 {
    width: 1293px;
    height: 107px;
    background-color:bisque;

}

#box4 {
    width: 1293px;
    height: 107px;
    background-color:bisque;

}

.smallerwhitebox {
    margin: auto;
    width: 306px;
    height: 50px;
    background-color: white;
}